# Stabilizer DEX Config - Multi Wallet
RPC_URL=https://sepolia.infura.io/v3/84842078b09946638c03157f83405213

# Wallet 1 (required)
PRIVATE_KEY=0x...

# Wallet 2 (optional - untuk multi-wallet)
PRIVATE_KEY_2=0x...

# Wallet 3 (optional)
PRIVATE_KEY_3=0x...

# Loop Settings
MAX_TX=10
DELAY=30